body {
    background:#ffd4df;
    font-family: "ms gothic";
    font-size:15px;
    letter-spacing:1px;
    color: black;
    max-width: 1000px;
    margin: auto;
  }
  
  .content {
    max-width: 850px;
    margin: 100px;
  }
  
  .bottom {
      position: fixed;
      bottom: 0;
  }
  
  .info {
    font-family: monospace;
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    left: 20px;
    top: 20px;
  }
  
  h1 {
      font-family: "courier new";
      font-size: 1.5em;
  }
  
  h2 {
      font-size: 1em;
  }
  
  p {
      font-size: 0.85em;
  }
  
  a:link { 
      color: #d49a97;
      font-size:13px;
  }
  a:visited {
    color: #d49a97;
  }
  
  a:hover{
    font-style:italic;
  }
